<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="page_list" frontName="page_list">
            <module name="Uzhnu_ListPages" />
        </route>
    </router>
</config>
