<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="astound" translate="label" sortOrder="50">
            <label>Astound</label>
        </tab>
        <section id="first_visit_popup" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>First Visit Popup</label>
            <tab>astound</tab>
            <resource>Astound_FirstVisitPopup::first_visit_popup</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="close_cookie_lifetime" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Close Cookies Lifetime (days)</label>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
