<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Astound\FirstVisitPopup\Api\Data\FirstVisitPopupSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Astound\FirstVisitPopup\Api\Data\FirstVisitPopupInterface" type="Astound\FirstVisitPopup\Model\FirstVisitPopup" />
    <preference for="Astound\FirstVisitPopup\Api\FirstVisitPopupRepositoryInterface" type="Astound\FirstVisitPopup\Model\FirstVisitPopupRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="astound_firstvisitpopup_popup_listing_data_source" xsi:type="string">Astound\FirstVisitPopup\Model\ResourceModel\FirstVisitPopup\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Astound\FirstVisitPopup\Model\ResourceModel\FirstVisitPopup\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">astound_first_visit_popup</argument>
            <argument name="resourceModel" xsi:type="string">Astound\FirstVisitPopup\Model\ResourceModel\FirstVisitPopup</argument>
        </arguments>
    </type>
    <type name="Astound\FirstVisitPopup\Model\UiComponent\Listing\Column\PopupActions">
        <arguments>
            <argument name="frontUrlBuilder" xsi:type="object" shared="false">Magento\Framework\Url</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Astound\FirstVisitPopup\Api\Data\FirstVisitPopupInterface" xsi:type="string">Astound\FirstVisitPopup\Api\FirstVisitPopupRepositoryInterface</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Astound\FirstVisitPopup\Api\Data\FirstVisitPopupInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">astound_first_visit_popup</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Astound\FirstVisitPopup\Api\Data\FirstVisitPopupInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">Astound\FirstVisitPopup\Model\ResourceModel\FirstVisitPopup\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">Astound\FirstVisitPopup\Model\ResourceModel\FirstVisitPopup\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">Astound\FirstVisitPopup\Model\ResourceModel\FirstVisitPopup\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Astound\FirstVisitPopup\Api\Data\FirstVisitPopupInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
</config>
