<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Uzhnu\Rest\Api\Data\AuthorInterface"
                type="Uzhnu\Rest\Model\Author"/>

    <preference for="Uzhnu\Rest\Api\AuthorRepositoryInterface"
                type="Uzhnu\Rest\Model\AuthorRepository"/>
</config>

